/* line 5, /home/percy/sunat-ruby9/app/assets/stylesheets/invoice.scss */
table td, table th {
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: left;
}
/* line 9, /home/percy/sunat-ruby9/app/assets/stylesheets/invoice.scss */
table td:last-child, table th:last-child {
  text-align: right;
}
/* line 1, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* line 7, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
a img {
  border: none;
}

/* line 11, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
a {
  color: #0000FF;
}

/* line 15, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 21, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
#container {
  width: 95%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

/* line 30, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 35, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 40, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 45, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.field_with_errors {
  display: inline;
}

/* line 49, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 59, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* line 69, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 73, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.error_messages ul {
  margin-bottom: 0;
}

/* line 77, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
form .field, form .actions {
  margin: 12px 0;
}

/* line 82, /home/percy/sunat-ruby9/app/assets/stylesheets/layout.css.scss */
.text-left {
  text-align: left;
}
/* line 1, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 24, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 28, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 44, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/percy/sunat-ruby9/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

