<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "Avatar.jpg" %>
  </div>
 
  <div id="content">
    <h1></h1>
    <p></p>
    <p></p>
    <p> <a> Percy Woeds </a> or email to me <a href='mailto:percywoeds@gmail.com'>here</a>.</p>
  </div>
</div>
