
<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Nueva Nota
</h1>

<p>
  Para crear una nueva factura, por favor llenar el siguiente formulario. Los campos marcados con <strong>*</strong> son obligatorios
  
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Back', "/credits" %>
</div>