<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Ventas 
  </h3>
  
  <p class="big">
    <%= link_to "Facturas, boletas y Notas - Resumen ", report_1_reports_oath %>
  </p>

  <p class="big">
  
  </p>

  <p class="big">
  
  </p>
  
  
  <h3>
  
  </h3>
  <p class="big">
  
  </p>

  <p class="big">
  
  </p>

  <p class="big">
  
  </p>
  <p class="big">
  
  </p>
  
  
  

</div>

<div class="mid_box">
</div>

<%= br() %>

